{% extends 'layout.twig' %}
{% block content %}
    <h2>Cart</h2>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <tr>
                    <th>Product</th>
                    <th>Price (unit)</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
                {% for index, item in cart.items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>${{ item.product.price }}</td>
                        <td>
                            <form action="/cart/update-quantity/{{ index }}" method="post">
                                <select class="form-control update-quantity" name="quantity">
                                    {% for j in 1..5 %}
                                        <option {{ item.quantity == j ? 'selected' }}>{{ j }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="index" value="{{ index }}">
                            </form>
                        </td>
                        <td>${{ item.subTotal }}</td>
                        <td>
                            <a class="btn btn-danger" href="/cart/remove/{{ index }}">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">There is no product in your cart.</td>
                    </tr>
                {% endfor %}
                {% if cart.items %}
                    <tr>
                        <td colspan="5">Total: ${{ cart.total }} <a class="btn btn-success" href="/checkout">Checkout</a></td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}