{% extends 'layout.twig' %}
{% block content %}
    <h2>Checkout</h2>
    <div class="row">
        <div class="col-sm-12">
            <form method="post" action="/checkout/process" class="row">
                <fieldset class="col-sm-3">
                    <legend>Shipping Address</legend>
                    <div class="form-group">
                        <input type="text" class="form-control" name="address[shipping][street]" placeholder="Street">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="address[shipping][postalCode]" placeholder="Postal Code">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="address[shipping][city]" placeholder="City">
                    </div>
                    <div class="form-group">
                        <select class="form-control" required name="address[shipping][country]">
                            <option>Please select</option>
                            {% for country in countries %}
                                <option value="{{ country.countryCode }}">{{ country.countryName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </fieldset>

                <fieldset class="col-sm-3">
                    <legend>Billing Address</legend>
                    <div class="form-group">
                        <input type="text" class="form-control" name="address[billing][street]" placeholder="Street">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="address[billing][postalCode]" placeholder="Postal Code">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="address[billing][city]" placeholder="City">
                    </div>
                    <div class="form-group">
                        <select class="form-control" required name="address[billing][country]">
                            <option>Please select</option>
                            {% for country in countries %}
                                <option value="{{ country.countryCode }}">{{ country.countryName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}