{% extends 'layout.twig' %}
{% block content %}
    <h2>Product catalog</h2>
    <div class="row">
    {% for product in products %}
        <div class="col-sm-3">
            <form method="post" action="/cart">
                <h4>{{ product.name }}</h4>
                <p>{{ product.price }}</p>
                <select class="form-control" name="quantity">
                    {% for i in 1..5 %}
                        <option>{{ i }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" value="{{ product.id }}" name="id">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add to cart
                </button>
            </form>
        </div>
    {% endfor %}
    </div>
{% endblock %}