<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Lightspeed- eCom</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <header class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <h1><a href="/">Lightspeed eCom</a></h1>
                </div>
                <div class="col-sm-6 text-right">
                    <a class="btn btn-primary" href="/cart">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Cart ({{ app.cart.getNumberOfItems() }} - ${{ app.cart.getTotal() }})
                    </a>
                </div>
            </div>
        </header>
    </div>
    <hr>
    {% autoescape %}
        {% block content %}{% endblock %}
    {% endautoescape %}
    <hr>
    <footer class="row">
        <div class="col-sm-12">Lightspeed eCom.</div>
    </footer>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
